---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
  annotations:
    argocd.argoproj.io/manifest-generate-paths: ".."
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    path: argocd/clusters/tools
    repoURL: git@github.com:edx/edx-internal.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true